

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
    text-decoration: none;
    color: white;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.slider::-webkit-scrollbar {
  display: none;
}

body{

    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin: 0;
    scroll-behavior: smooth;

  }


 

  label {
    display: block;
    margin-bottom: 8px;
    font-size: large;
  }


  button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: orange;
  }



  #liste{
    padding-right: 2%;
    padding-top: 2%;
    
    
}


a >img{
  width: 100%;
  height: 15vh;
  border: 0.5px solid white;
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
    
    
}

#menu a:hover,a:hover{
    color: orange;
}

#liste_menu{
    
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 50px;
}


a{
    text-decoration: none;
    color: white;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: grey;
    background-color: black;
    gap: 200px;

}


.footer_organize > img{
    width: 100px;
    height: 100px;
}

.footer_organize{
    display: flex;
    flex-direction: column;
    gap: 5px;
   
}




h1 {
  margin-bottom: 20px;
  font-size: xx-large;
}

label {
  font-weight: bold;
}


form,label{
  flex: 1; /* Pour que les labels occupent le même espace que les champs de saisie */
  text-align: right; /* Pour aligner les labels à droite */
  margin-right: 10px; 
  white-space: nowrap; /* Pour éviter le passage à la ligne des labels */
}

input[type="text"],
input[type="email"],
textarea {
 
  padding: 10px;
  height: 3vh;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  flex: 3; /* Pour que les champs de saisie occupent plus d'espace */
  width: auto; /* Pour que les champs de saisie prennent la largeur disponible */
  height: 3vh;
}

button[type="submit"] {
  background-color:#f9f9f9;
  color: black;
  padding: 10px 20px;
  height: 5vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border : 1px solid black;
}

form textarea {
  flex: 3; /* Pour que la textarea occupe plus d'espace */
  width: 70%; /* Largeur de la textarea */
  height: 120px; /* Hauteur de la textarea */
}


button[type="submit"]:hover {
  background-color: orange;
}



#formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9f9f9;
  padding-bottom: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  
  

  
 
}

#mail_nom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3%;
}


form {
  width: 100%;
  margin: 0 auto;
  border:1px solid black;
  padding: 15px;
  border-radius: 10px;
  padding:10%;
  display: flex;
  flex-direction: column;
  gap: 3%;
  justify-content: center;
  align-items: center;
  
}

main{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: black;
    min-width: 100%;
    
} 

#container1{
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}


#container1 > button{
  border: 1px solid white;
  border-radius: 10px;
  font-size: x-large;
}
#white-section{
  background-color: #f9f9f9;
  color: black;
}

section{
  min-height: 100vh;
  min-width: 100%;
  max-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

button > a:hover{
  color:white;
  
}
button{
  font-size: x-large;
}
