html,
body,
main{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    overflow: hidden;

}



a{
   
    color: black;
}


a:hover{
    color: orange;
}

#gauche{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#f5f6fa;
    gap: 5%;
    color: black;
   
}



#droite{
    width: 70%; 
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
    overflow: hidden; 
    position: relative;
    height: 100vh;
    gap: 13vh;
    
}


main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}


#formulaire {
    width: 100%;
    background-color: #f5f6fa;
    /* padding: 15px; */
    border-radius: 10px;
    /* padding:10%; */
    display: flex;
    flex-direction: column;
    gap: 3%;
    justify-content: center;
    align-items: center;
  
    /* margin: 20%; */
    transition: transform 0.3s ease;
    /* border: 1px solid black; */
    overflow: hidden;
   
    
  }



  #mail_nom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
  }


  label {
    font-weight: bold;
  }
   #formulaire-container {
    padding: 20px;
    width: 100%;
}
  
  #formulaire,
  #formulaire label{
    flex: 1; /* Pour que les labels occupent le même espace que les champs de saisie */
    text-align: right; /* Pour aligner les labels à droite */
   
    white-space: nowrap; /* Pour éviter le passage à la ligne des labels */
  }
  
  input[type="text"],
  input[type="email"]
  {
   
    padding: 10px;
    height: 3vh;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    flex: 3; /* Pour que les champs de saisie occupent plus d'espace */
    width: auto; /* Pour que les champs de saisie prennent la largeur disponible */
    height: 80%;
  }

  input[type="text"]:hover,
  input[type="email"]:hover{
    border: 1px solid black;
  }

  textarea{
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }

  textarea:hover{
    border: 1px solid black;
  }
  
  button[type="submit"] {
    background-color:#f9f9f9;
    color: black;
    padding: 10px 20px;
    height: 5vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border : 1px solid black;
    margin-top: 2%;
    min-height: 4vh;
  }
  

  
  button[type="submit"]:hover {
    background-color: orange;
  }
  


  h1{
    color: black;
  }



.text-partie-droite {
   
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
    justify-content: center;
    align-items: center;
    position: relative;
   
    max-width: 90%;
    
   
}

#texte{
  font-size: 125%;
}


.text-partie-droite>h2{
  font-size: 200%;
 
}

.text-partie-droite>p{
  font-size: 125%;
}


#gauche > img{

  height: 30vh;

 
}


#image-header > img{
  width: 4vw;
  height: 7h;
  border: 1px solid white;
  margin: 2%;


}

#image-header{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
  

}


#gauche-droite{
  display: flex;
  flex-direction: row;
}




  @media only screen and (max-width:768px){
    #gauche-droite{
        flex-direction:column;
    }
    #gauche{
        width: 100%;
        height: 100vh;
        background-color: #f5f6fa;
        justify-content: space-between;
    }


    #droite{
      display: none;
    }

    #formulaire{
      gap: 1vh;
      padding: 1%;
    }

    #formulaire:hover{
      transform: none;
    }

    body,a{
      color: white;
    }


    #mobile-modif{
      color: black;
    }
  }


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

#gris{
  color: grey;
  
}


.pic-ctn {
  width: 100vw;
  height: 200px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 100vw;
  height: 300px;
  display: flex;


 
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 10vw);
  opacity: 0;
  height: 40vh;
  width: 20vw;
  animation: display 10s infinite;
  background-color: #f5f6fa;
  border-radius: 10px;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}


#reference{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}