
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

html,
body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    max-width: 100%;

}

a{
    text-decoration: none;
    color: white;
}




main > img{
    width: 50vw;
    height: 60vh;
    border: 1px solid white;
    border-radius: 10px;
}


main p{
    max-width: 80vw;
    font-size: 125%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
 
    
}

body {
    scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}

body::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari, et Opera */
}


.sousligne{
    text-decoration: underline;
    color: orange;
}




@media only screen and (max-width:768px){


    footer{
        font-size: 80%
    };

    .slider-wrapper {
      max-width: rem;
    }

    .slider{
      max-width: 33rem;
    }

}


#caroussel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: black;
  background-color: #f5f6fa;
  min-height: 100vh;
  gap: 3vh;
  position:relative;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  font-size: x-large;
 
}

.slider-wrapper {
position: relative;
max-width: 60rem;
margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
  scrollbar-width: none; /* Hide scrollbar Firefox */
  width: auto;
}

.slider img {
  scroll-snap-align: start;
  object-fit: cover;
  flex-shrink: 0; /* Empêche les images de se rétrécir pour s'adapter au conteneur */
  width: 100%; /* Garantit que chaque image occupe toute la largeur de son conteneur */
}


/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}




.slider-nav {
display: flex;
column-gap: 1rem;
position: absolute;
  justify-content: center;
bottom: 1.25rem;
left: 45%;
z-index: 1;
}

.slider-nav a {
width: 0.5rem;
height: 0.5rem;
border-radius: 50%;
background-color: #fff;
opacity: 0.75;
transition: opacity ease 250ms;
}

.slider-nav a:hover {
opacity: 1;
}

.slider-nav a.active {
  background-color: #ffff; /* ou une autre couleur pour indiquer l'image active */
}



.carousel-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2; /* Assurez-vous que les flèches sont au-dessus du carrousel */
}

.prev-arrow,
.next-arrow {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.prev-arrow:hover,
.next-arrow:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.prev-arrow {
  margin-left: 1rem;
}

.next-arrow {
  margin-right: 1rem;
}


.carousel-arrows >button{
  
  color: white;
  background-color: black;
}

.slide {
  flex: 0 0 33.33%; /* Ajustez en fonction du nombre d'images */
  scroll-snap-align: center;
}


span > h3{
  font-size: 125%;
  text-align: center;
 
}

span{
  width: 80%;
}