
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

html,
body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    max-width: 100%;

}

a{
    text-decoration: none;
    color: white;
}




main > img{
    width: 50vw;
    height: 60vh;
    border: 1px solid white;
    border-radius: 10px;
}


main p{
    max-width: 80vw;
    font-size: 125%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
 
    
}

body {
    scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}

body::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari, et Opera */
}


.sousligne{
    text-decoration: underline;
    color: orange;
}




@media only screen and (max-width:768px){
    img{
        display: none;
    }

    footer{
        font-size: 80%
    };
}